{% extends 'front-layout.twig' %}

{% block content %}

<div id="carousel" class="carousel slide w-50 mt-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/pizza-1.jpeg" class="d-block w-100 h-auto rounded">
        </div>
        <div class="carousel-item">
            <img src="/images/pizza-2.jpeg" class="d-block w-100 h-auto rounded">
        </div>
        <div class="carousel-item">
            <img src="/images/pizza-1.jpeg" class="d-block w-100 h-auto rounded">
        </div>
    </div>
</div>

{% endblock %}
