{% extends 'base.html.twig' %}

{% block body %}
<header>
  <div class="navbar navbar-light bg-light navbar-expand-lg">
    <div class="container">
      <div>
        <span class="d-inline">
          <i id="pizza-icon" class="fas fa-pizza-slice fa-3x pizza-icon"></i>
        </span>
        <span class="text-primary d-inline fs-2">Pizzerio's</span>
      </div>
      {{ knp_menu_render('main') }}
    </div>
  </div>
</header>

<main>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</main>
{% endblock %}
